.page-main {
  position: relative;
  height: 100vh;
  background: #1b0731;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 40x;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  // cursor.

  #cursor, #aura {
    position: absolute;
    border-radius: 100%;
    transition: .5s cubic-bezier(.75, -1.27, .3, 2.33) transofm, .2s cubic-bezier(.75, -1.27, .3, 2.33) opacity;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
  }
  #aura {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.24);

  }
}






























